@model skjatextar.Models.CollectionOfSrt
@{
    ViewBag.Title = "Details";
}
-
@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)

    <h1> @Model.title - @Model.episodeTitle @Model.year</h1>
    if (@Model.type == 2)
    {
            <div id="TvShowAbout">
        <p class="text-left">
            <blockquote>
                <h4>Season:@Model.season</h4>

                <h4>Epsisode: @Model.episode</h4>
            </blockquote>

        </p>

        <h3>Um Myndefnið</h3>

        <textarea disabled cols="1000" rows="10">
              @Model.episodeAbout
        </textarea>

    </div>
    }

    <!--vantar virkni i takkann-->
    <div>
        <a href="@Url.Action("Download", new { id = @Model.srtId })" class="btn btn-success - btn pull-right">Niðurhala</a>
    </div>
}
<!--er að reyna að gera javscript hérna, er með sér file -->
@Scripts.Render("~/bundles/jquery")

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/script.js"></script>



