@model skjatextar.Models.CollectionOfSrt

@{
    ViewBag.Title = "Details";
}




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
      

        <h1>@Model.title</h1>

        <p>Season: @Model.season</p>
        <p>Episode: @Model.episode</p><p>@Model.episodeTitle</p>

        <p>@Model.episodeAbout</p>
        
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval/")
}


