@model skjatextar.Models.CollectionOfSrt
@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
@Html.ValidationSummary(true)

<div id="TvShowDetails">
    <h1>@Model.title  - @Model.episodeTitle</h1> 


    <table class="TvShowTable">
        <tbody>
            <tr>
                <td>Season:</td>
                <td>@Model.season,</td>
                <td>Epsisode:</td>
                <td>@Model.episode</td>
            </tr>
        </tbody>
    </table>


    <!--það er spurning með hvernig við ætlum að birta um kvikmynd en ekki þátt?-->
    <h3>Um Myndefnið</h3>
    <div class="AboutShow">
        <p>@Model.episodeAbout</p>

    </div>

</div>
  
<!--vantar virkni i takkann og eg fæ hann ekki til að færa sig -->
<div id="NiðurhalaTakki">
    <input type="button" value="Niðurhala" class="btn btn-default" />
</div>
 }
  


   



    <!--er að reyna að gera javscript hérna, er með sér file -->
    @Scripts.Render("~/bundles/jquery")
     <script type="text/javascript" src="~/Scripts/JavaScriptAlex.js"></script>



