@model skjatextar.Models.SrtDataModel
@{
    ViewBag.Title = "EditFile";
}

@using (Html.BeginForm("EditFile", "EditFile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Þýða texta</h2>
        <hr />
        @Html.ValidationSummary(true)

            <div class="form-horizontal">
                <textarea name="dataTextReadOnly" rows="20" cols="300" disabled>@Model.dataText</textarea>
                <textarea name="dataText" rows="20" cols="300" class="pull-right">@Model.dataText</textarea>
            </div>
            <div>
                <input type="submit" value="Vista" class="btn btn-success - btn pull-right" />
            </div>
    </div>
}
@section Scripts {
    +    -    @Scripts.Render("~/bundles/jqueryval")
    +    -}
