@model List<skjatextar.Models.CollectionOfSrt> 
@{
    ViewBag.Title = "Home Page";
}




<!-- Begin Body -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>10 Nýjustu</h3></div>
                <div class="panel-body">

                    <div>
                        @foreach (var item in Model)
                        {
                            <a href="/Home/Details/@item.tvId">
                                <div>
                                    <h3>@item.title</h3>
                                    <h3>@item.episodeAbout</h3>
                                    <h3>@item.year</h3>
                                </div>
                            </a>
                        }

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Hello.</h3></div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>10 Nýjustu</h3></div>
                <div class="panel-body">

                    <div>
                        @foreach (var show in (List<skjatextar.Models.CollectionOfSrt>)ViewData["shows"])
                        {
                            <h3>@show.title</h3>
                            <h3>@show.episodeAbout</h3>
                            <h3>@show.year</h3>
                        }

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Hello.</h3></div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </div>
            </div>
        </div>
    </div>


