@model List<skjatextar.Models.CollectionOfSrt> 
@{
    ViewBag.Title = "Home Page";
}




<!-- Begin Body -->
    <div class="container">

        <div class="row">

            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>10.Vinsælustu Þættir</h3></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if(item.type == 2)
                                { 
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                    </td>
                                   
                                     <td>
                                        @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                    </td>
                                    <td>
                                        @Html.Raw(Html.ActionLink("Niðurhala", "Download", new { id = item.srtId }))
                                    </td>
                                    <td>
                                        @Html.Raw(Html.ActionLink("Breyta", "EditFile", new { id = item.srtId }))
                                    </td>
                                </tr>
                            }

                                }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>10.Vinsælustu Myndir</h3></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tbody>
                            
                            @foreach (var item in Model)
                            {
                                if(item.type == 1)
                                { 
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                    </td>
                                    <td>
                                        @Html.Raw(Html.ActionLink("Niðurhala", "Download", new { id = item.srtId }))
                                    </td>
                                </tr>
                                }

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Óskir</h3></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                    </td>
                                  
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Nýjast</h3></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                    </td>
                                    <td>
                                        @Html.Raw(Html.ActionLink("Niðurhala", "Download", new { id = item.srtId }))
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


