@model List<skjatextar.Models.CollectionOfSrt> 
@{
    ViewBag.Title = "Home Page";
}

<!-- Begin Body -->
    <div class="container">

        <div class="row">

            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>10.Vinsælustu Þættir</h3></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                           
                            @foreach (var item in Model)
                            {
                                
                                
                                if (item.type == 2)
                                {
                                    
                                    <tr>
                                        <td>
                                            
                                            @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                        </td>
                                        <td>
                                            Sería: @item.season
                                        </td>
                                        <td>
                                            Þáttur: @item.episode
                                        </td>

                                        <td>
                                            @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Download", new {id = item.srtId})"><span class="glyphicon glyphicon-download-alt"></span></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditFile", new {id = item.srtId})"><span class="glyphicon glyphicon-edit"></span></a>

                                        </td>

                                       
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>10.Vinsælustu Myndir</h3></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>

                            @foreach (var item in Model)
                            {
                                if (item.type == 1)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                        </td>
                                        <td>
                                            Árgerð: @item.year
                                        </td>
                                        <td>
                                            @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Download", new {id = item.srtId})"><span class="glyphicon glyphicon-download-alt"></span></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditFile", new {id = item.srtId})"><span class="glyphicon glyphicon-edit"></span></a>

                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Óskir</h3></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Nýjast</h3></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                            @foreach (var item in ViewBag.requests)
                            {
                                if(item.type == 1)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                        </td>
                                        <td>
                                            Árgerð: @item.year
                                        </td>
                                        <td>
                                            @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Download", new {id = item.srtId})"><span class="glyphicon glyphicon-download-alt"></span></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditFile", new {id = item.srtId})"><span class="glyphicon glyphicon-edit"></span></a>

                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            
                                            @Html.ActionLink(item.title, "Details", new { id = item.srtId })
                                        </td>
                                        <td>
                                            Sería: @item.season
                                        </td>
                                        <td>
                                            Þáttur: @item.episode
                                        </td>

                                        <td>
                                            @Html.ActionLink("Nánar", "Details", new { id = item.srtId })
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Download", new {id = item.srtId})"><span class="glyphicon glyphicon-download-alt"></span></a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditFile", new {id = item.srtId})"><span class="glyphicon glyphicon-edit"></span></a>

                                        </td>

                                       
                                    </tr>
                                }
                                

                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


