    @model skjatextar.Models.CollectionOfSrt
@{
    ViewBag.Title = "NyBeidni";
}

<div>
    <h2>Ný Beiðni</h2>
    @using (Html.BeginForm("NewRequest", "Home", FormMethod.Post, new { enctype = "multipart/form-data",@class = "form-horizontal",role = "form",id ="beidniForm"}))
    {
         @Html.ValidationSummary(true)
        
         
        <div id="title" class="form-group">
            @Html.LabelFor(m => m.title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                @Html.ValidationMessage("title")
            </div>
        </div>
       <div class="form-group">
           <div class="col-md-10 col-md-offset-2">
               @Html.RadioButtonFor(m => m.type, "1") Kvikmynd
               @Html.RadioButtonFor(m => m.type, "2") Þáttur
               @Html.ValidationMessage("type")
           </div>
       </div>
    <div id="episodeTitle" class="form-group tv-field">
        @Html.LabelFor(m => m.episodeTitle, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.episodeTitle, new { @class = "form-control" })
            @Html.ValidationMessage("episodeTitle")
        </div>
    </div>
         <div id="year" class="form-group movie-field">
            @Html.LabelFor(m => m.year, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.year, new { @class = "form-control", type = "number" })
                @Html.ValidationMessage("year")
            </div>
       </div>
    <div id="season" class="form-group tv-field">
        @Html.LabelFor(m => m.season, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.season, new { @class = "form-control", type = "number" })
            @Html.ValidationMessage("season")
        </div>
    </div>
    <div id="episode" class="form-group tv-field">
        @Html.LabelFor(m => m.episode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.episode, new { @class = "form-control", type = "number" })
            @Html.ValidationMessage("episode")
        </div>
    </div>
         <div id="episodeAbout"class="form-group tv-field" >
            @Html.LabelFor(m => m.episodeAbout, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.episodeAbout, new { @class = "form-control" })
                @Html.ValidationMessage("episodeAbout")
            </div>
       </div>
         <div id="dataFile" class="form-group">
            @Html.LabelFor(m => m.dataFile, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.dataFile, new { @class = "form-control" })
                @Html.ValidationMessage("dataFile")
            </div>
       </div>
     
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div>
                <input type="submit" value="Upphlaða" class="btn btn-success" />
            </div>
        </div>
    </div>
  
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

        
        
        
        
        
        
        
        
        
       