@model skjatextar.Models.CollectionOfSrt
@{
    ViewBag.Title = "Edit News Item";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Details</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div>
            <h2>Upload</h2>
            <h3>@Model.title</h3>

        </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





